/**
    Estilos para las diferentes resoluciones resoluciones
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    margin: 0;
    padding: 0 ;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}

header{
    height: 60px;
    background: #0D998A;
    margin-bottom: 300px;
}
.menu nav ul{
    display: flex;
    height: 45px;
    background: #1CCCBB;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    height: 60px;
    align-items: center;
}
.menu nav ul li{
    text-decoration: none;
    list-style: none;
}
.menu nav ul li a{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    padding: 5px;
}
#banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 6.8rem;
    position: relative;
}
#banner #frase_banner {
    position: absolute;
    top: -50px;
    background: white;
    margin-left: 15px;
    margin-right: 15px;
    opacity: .9;
}
#banner #img_banner img{
    width: 100%;
    background-size: cover;
}
#frase_banner p{
    color: black;
    padding: 15px;
    text-align: center;
}   
.equipo{
    color: #099D8D ;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.triangle{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 45px;
    position: relative;
    background: white;
    height: 50vh;
}
.triangle::before {
    content: '';
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color:white transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(99%);
}

footer{
    border-top: 1px solid gray;
    padding-top: 20px;
}
.float-right ul{
    text-decoration: none;
    list-style: none;
    color: black;
    text-align: right;
    padding: 5px;
}

.float-right ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
    text-align: right;
}

.fortalezas_denilidades{
    background: #F1F1F1;
    color: #099D8D ;
    margin-bottom: 30px;
}
.fortalezas_denilidades h1{
    color: #099D8D ;
    text-transform: uppercase;
}
#grupo{
    margin-bottom: 10px;
}
@media  (min-width: 500px ) and (max-width: 800px ){
    header{
        height: 60px;
        background: #15A192;
    }
    .menu nav ul{
        display: flex;
        height: 45px;
        background: #1CCCBB;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        height: 60px;
        align-items: center;

    }
    .menu nav ul li{
        text-decoration: none;
        list-style: none;
    }
    .menu nav ul li a{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        padding: 5px;
    }
    #banner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 6.5rem;
        position: relative;
    }
    .equipo{
        color: #099D8D ;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    .triangle{
        font-family: 'Open Sans', sans-serif;
        
        padding-bottom: 45px;
    }

}

@media  (min-width: 700px ) and (max-width: 1200px ){
    header{
        height: 60px;
        background: #15A192;
        margin-bottom: 300px;
    }
    .menu nav ul{
        display: flex;
        height: 45px;
        background: #1CCCBB;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
        height: 60px;
        align-items: center;

    }
    .menu nav ul li{
        text-decoration: none;
        list-style: none;
    }
    .menu nav ul li a{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        padding: 5px;
    }
    #banner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 3.3rem;
        position: relative;
    }
    .equipo{
        color: #099D8D ;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    .triangle{
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 45px;
    }
}

@media ( min-width: 900px ){

    header{
        height: 60px;
        background: #15A192;
        margin-bottom: 300px;
    }
    .menu nav ul{
        display: flex;
        height: 45px;
        background: #1CCCBB;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
        height: 60px;
        align-items: center;
        margin-right: 150px;
    }
    .menu nav ul li{
        text-decoration: none;
        list-style: none;
    }
    .menu nav ul li a{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        padding: 5px;
    }


    #banner{
        display: flex;
        justify-content: center;
        flex-direction: column;

        position: relative;
        height: 580px;
    }
    #banner img{
        padding-top: 1.4%;
        height: 580px;
    }
    #banner #frase_banner {
        width: 441px;
        position: absolute;
        top: -77px;
        background: white;
        margin-left: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        margin-right: 150px;
        opacity: .9;
        
    }
    #banner #frase_banner p{
        text-align: justify;
        font-family: 'Open Sans', sans-serif;
    }
    .menu nav ul{
        background: #15A192;
    }
    .equipo{
        color: #099D8D ;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    .triangle{
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 45px;
    }
}

body main #quienes_somos h1{
    font-family: 'Rubik', sans-serif;
    color: #099d8d;
    text-transform: uppercase;
}

body main #quienes_somos h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: bolder;
}

body main #quienes_somos p {
    font-family: 'Open Sans', sans-serif;
    color: #54585a;
}

body main #quienes_somos span a i {
    font-size: 25px;
    color: #099d8d;
}

@media (min-width: 768px) {
    body main #quienes_somos p {
        text-align: justify;
    }
}