#equipo {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

#equipo h3 {
  color: #14d9c4;
  font-size: 26px;
}
li {
  list-style: none;
}
.containes-for-del {
  display: flex;
  flex-direction: column;
}
.title {
  color: #14d9c4;
  font-size: 18px;
  font-weight: bold;
}

.containes-for-del .fortaleza {
  background-color: #f1f1f1;
}

.containes-for-del .debilidades {
  background-color: #f1f1f1;
}
