:root {
    --main-verde: #099d8d;
    --main-verde-claro: #14d9c4;
    --main-blanco: #ffffff;
    --main-negro: #000000;
    --main-gris-oscuro: #54585a;
    --main-gris-claro: #b8b8b9;
    --main-gris-fondo: #f1f1f1;

}

*{
    font-family: 'Open Sans';
    /* font-family: 'Rubik', sans-serif; */
    background-color: var(--main-gris-fondo);
}

.container-fluid {
    width: 600px;
}

h2{
    color: var(--main-verde);

}

#boton #boton-enviar {
    position: relative;
    float: right;
}

#boton-enviar {
    background-color: var(--main-verde);
    padding-left: 50px;
    padding-right: 50px;
    
}

.asterisco {
    color: var(--main-verde-claro);
}

.header-nav{
    grid-area: header-nav;
}

.foto-imagen{
    grid-area: foto-imagen;
}

.main-nav{
    grid-area: main-nav;
}

.footer-nav{
    grid-area: footer-nav;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        "header-nav"
        "foto-imagen"
        "main-nav"
        "footer-nav";
}


@media (min-width: 768px){
    .grid-container{
        /* grid-template-columns: ; */
        grid-template-rows: 40px auto auto 200px;
    }
}

/* @media (min-width: 1200px){
    .grid-container{
        /* grid-template-columns: ; 
        grid-template-rows: 40px 100px auto 200px;
    }
/* }  */